<!DOCTYPE html>
<html>
<head>
	<title>COMO SE USA</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="stylesSheet/estilousu.css">
</head>
<body>
<div id="omos"><h1>¿QUIENES SOMOS?</h1>


TUTORIAL PARA CONOCER GAMETRADE
<br>
<br>

1- En la Home se encuentran los juegos más recientes que están disponibles para intercambiar, indicando la plataforma en la que está disponible, los créditos por los que se vende y si hay más de un usuario que lo tiene disponible en su catálogo.

1- En la Home se encuentran los juegos más recientes que están disponibles para intercambiar, indicando la plataforma en la que está disponible, los créditos por los que se intercambia y si hay más de un usuario que lo tiene disponible en su catálogo.
2- Para ver más información acerca del juego que estas interesado solo tienes que hacer clic en el título donde te aparecerá la ficha completa y los usuarios que tienen disponible este juego para venderlo.
<br>
<br>
2- Para ver más información acerca del juego que estas interesado solo tienes que hacer clic en el título donde te aparecerá la ficha completa y los usuarios que tienen disponible este juego para intercambiar.
3- Puede que haya más de un usuario que tenga disponible este juego, tendrás la posibilidad de valorar a que usuario quieres comprar el juego dependiendo de su estado (nuevo sin estrenar, casi nuevo, etc) y del valor en créditos. Para conocer más información de otro usuario puedes acceder a su ficha y te indicara con un porcentaje si tiene votos positivos o negativos en sus anteriores intercambios y podrás consultarlos.
<br>
<br>
3- Puede que haya más de un usuario que tenga disponible este juego, tendrás la posibilidad de valorar a que usuario quieres hacer el intercambio dependiendo del estado del juego (nuevo sin estrenar, casi nuevo, etc) y del valor en créditos. Para conocer más información de otro usuario puedes acceder a su ficha y te indicara con un porcentaje si tiene votos positivos o negativos en sus anteriores intercambios y podrás consultarlos.
<br>
<br>
4- Para comprar un juego tienes que estar registrado, si ya lo estás, solo necesitas tener los créditos suficientes para adquirirlo. Los créditos los pueden conseguir a través de tus ventas o comprándolos. Una vez conseguidos los créditos suficientes solamente debes pagar los gastos de envío y nuestra empresa de transporte se encargará de todo. En la sección de Mis juegos podrás ver en todo momento el proceso de envío de tu juego, tanto ventas como compras.
<br>
<br>
4- Para adquirir un juego tienes que estar registrado, si ya lo estás, solo necesitas tener los créditos suficientes para el intercambio. Los créditos los pueden conseguir a través de tus intercambios o comprándolos.
5- Para conseguir créditos gratis, necesitas poner tus juegos en el catálogo de Tradejuegos en la sección de Vender juegos. Para añadir tus juegos tendrás disponible un buscador que te lleva directamente al juego, si el buscador no lo encuentra, tendrás la opción de recomendarnos este juego y lo más rápidamente posible tradejuegos lo incluirá en la base de datos.
<br>
<br>
5- Para conseguir créditos gratis, necesitas poner en catálogo tus juegos que ya no utilizas disponibles para intercambiar. Para añadir tus juegos tendrás disponible un buscador que te llevara directamente al juego, si el buscador no lo encuentra, tendrás la opción de recomendarnos este juego y lo más rápidamente posible tradejuegos lo incluirá en la base de datos.
<br>
<br>
Una vez encontrado el juego que quieres vender y subir al catálogo, puedes seleccionar la condición de tu juego y el precio de venta en créditos. Tradejuegos fijará tu juego con un precio orientativo pero siempre acabará siendo el vendedor quien determine el precio final de su juego.

Una vez registrado y encontrado el juego que quieres subir al catálogo, puedes seleccionar la condición de tu juego y el precio en créditos por lo que lo quieres vender.
Por cada uno de tus juegos vendidos se te sumaran créditos gratis que podrás utilizar para conseguir tu juego favorito.
<br>


</body>
</html>