
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="estilos.css">
	<title></title>
</head>
<body>
<form> 
<form> class='contacto'</title>
<h1>Contactenos</h1>
<div><label>Tu nombre:</label><input type='text' value=''></input></div>
<div><label>Tu email:</label><input type='text' value=''></input></div>
<div><label>Asunto:</label><input type='text' value=''></input></div>
<div><label>Mensaje:</label><textarea rows='6'></textarea></div>
<div><input type="submit" value="Envia mensaje"></input></div> 
	
</form>


</body>
</html>