/*---------------------------------esta parte es general del header y footer--------------------------*/

body {
  margin: 0;
  font-family: $letraGeneral;
  font-size: $size_general;
}

header {
  background: $negro;
  width: 100%;
  height: 150px;
}

#dv_main {
  width: 100% !important;
}

#dvLogo {
  background: url(../Imagen/logo.png) no-repeat;
  width: 55%;
  height: 84px;
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
  cursor: pointer;
}

#dvMenu {
  width: 60%;
  height: 75px;
  overflow: hidden;
  vertical-align: top;
  margin-top: -50px;
  list-style: none;
  margin-left: 105px;
  position: absolute;
  z-index: 3;
  li {
    width: 25%;
    height: 90px;
    float: left;
    margin-left: 3px;
    cursor: pointer;
  }
}

#dvContel {
  width: 45%;
  float: right;
  margin-left: -200px;
}

#code {
  margin-left: -5px !important;
  overflow: hidden;
  background: url(../Imagen/inici.png) no-repeat;
  width: 25%;
  height: 80px;
  overflow: hidden;
}

#liwor {
  background: url(../Imagen/quienes_som.png) no-repeat;
  width: 25%;
  height: 80px;
  margin-left: -75px !important;
}

#licontact {
  background: url(../Imagen/contacteno.png) no-repeat;
  width: 25%;
  height: 80px;
  margin-top: 5px;
  margin-left: 60px;
  margin-left: 15px !important;
}

#liUsa {
  background: url(../Imagen/como.jpg) no-repeat;
  width: 25%;
  height: 80px;
  margin-left: -25px !important;
}

#invitLogin {
  width: 62%;
  height: 56px;
  background: url(../Imagen/tira.png) no-repeat;
  float: right;
  color: $blanco;
  font-weight: bolder;
  font-size: 22px;
  margin-right: 1px;
  padding-top: 15px;
  text-align: center;
}

#dvLogin {
  width: 60%;
  height: 35px;
  float: right;
  margin-right: 10px;
}

#dvButonL {
  display: inline-block;
  width: 8%;
  height: 30px;
  border: groove 1px;
  border-radius: 5px;
  height: 30px;
  background: url(../Imagen/btnIng.png) no-repeat;
}

#btnOpen {
  border: none;
  width: 100%;
  height: 30px;
  list-style: none;
  background: none;
  cursor: pointer;
}

#ulRecord {
  list-style: none;
  float: right;
  margin-right: 20px;
  overflow: hidden;
  margin-top: 5px;
  font-weight: bolder;
  li {
    color: $subtitulos;
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
  }
}

#ulMenu {
  width: 100%;
  background: url(../imagen/img_menu.png) no-repeat;
  width: 1366px;
  height: 44px;
  margin-top: 1px;
  overflow: hidden;
  li {
    display: inline-block;
    color: $blanco;
    font-size: 19px;
    padding-left: 50px;
    padding-top: 15px;
    cursor: pointer;
  }
}

#Login {
  width: 77%;
  height: 30px;
  list-style: none;
  vertical-align: top;
  overflow: hidden;
  margin-top: 1px;
  display: inline-block;
  margin-left: 5px;
  li {
    display: inline-block;
    overflow: hidden;
    width: 45%;
    height: 30px;
    margin-left: 10px;
    input {
      width: 90%;
      height: 20px;
      border: groove 1px;
      border-radius: 5px;
      padding-left: 5px;
      padding-top: 5px;
      overflow: hidden;
    }
  }
}

#e64NueContra {
  display: none;
}

#e64Contras {
  width: 45%;
  height: auto;
  border: groove 1px;
  border-radius: 5px;
  background: $blanco;
  margin-top: 20%;
  margin-left: 24%;
  overflow: hidden;
}

#e64ConteContra {
  width: 100%;
  height: 110%;
  overflow: hidden;
  vertical-align: top;
  margin-top: -300px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1;
  display: none;
}

#e64ClosPrinciC {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
  cursor: pointer;
  height: 30px;
  width: 1%;
}

.Ftfooter {
  color: $blanco;
  background: $negro;
}

.Ftfooter h2 {
  color: $rojo;
  font-size: $size_h2;
}

.social_bookmarks_container {
  width: 100%;
  height: 45px;
  padding: 0;
  position: absolute;
}

.social_bookmarks {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

.social_bookmarks li {
  margin: 0 0 1px 1px;
  height: 57px;
  width: 57px;
  list-style: none;
  float: left;
  padding: 0;
  background-position: center;
  @include redesSociales(0.4s);
}

.social_bookmarks li a {
  float: left;
  width: 57px;
  line-height: 24px;
  display: block;
  text-indent: -99999px;
  margin: 0px;
  outline: none;
  padding: 0;
  min-height: 57px;
  height: 180%;
  text-decoration: none;
}

.social_bookmarks .iconrss {
  background: #A4A4A4 url(//lh6.googleusercontent.com/-s8sIx3OX2WI/U4vC1nmgr0I/AAAAAAAALK4/W3Z3qXMwrCg/s114/icon-rss.png) top left no-repeat;
}

.social_bookmarks .iconrssmail {
  background: #BDBDBD url(//lh5.googleusercontent.com/-H4iUybdCAyU/U4vC1yQWu1I/AAAAAAAALLE/fTpR7eN4cIw/s114/icon-rssmail.png) top left no-repeat;
}

.social_bookmarks .icontwitter {
  background: #D8D8D8 url(//lh6.googleusercontent.com/-4TshwJW7hIE/U4vC2JM25AI/AAAAAAAALLI/tcIkpheXrYU/s114/icon-twitter.png) top left no-repeat;
}

.social_bookmarks .iconfacebook {
  background: #E6E6E6 url(//lh5.googleusercontent.com/-nt-UdZG1ns0/U4vC1v57lwI/AAAAAAAALLQ/pAOWjEBSnSg/s114/icon-facebook.png) top left no-repeat;
}

.social_bookmarks .icongplus {
  background: #F1F1F1 url(//lh6.googleusercontent.com/-brT53y4GgMs/U4vC1UPpmFI/AAAAAAAALK8/vRxosS7GGKs/s114/icon-gplus.png) top left no-repeat;
}

.social_bookmarks .iconfacebook:hover {
  background-position: center -57px;
  background-color: #37589b;
}

.social_bookmarks .icontwitter:hover {
  background-position: center -57px;
  background-color: #46d4fe;
}

.social_bookmarks .icongplus:hover {
  background-position: center -57px;
  background-color: #de5a49;
}

.social_bookmarks .iconrss:hover {
  background-position: center -57px;
  background-color: #ff6600;
}

.social_bookmarks .iconrssmail:hover {
  background-position: center -57px;
  background-color: #FFDE00;
}

.social_bookmarks li:hover a {
  background: transparent url(//lh4.googleusercontent.com/-XNviZ_JqvyU/U4vDMDFAX8I/AAAAAAAALLk/E4VIJr1onlo/s57/icon-social-reflect.png) no-repeat;
}