

body{
	background: #eee;
}
#e64ContRegist{
	width: 80%;
	height: auto;
	border:groove 1px;
	margin: 0 auto;
	background: #fff;
}

#ulContRegist{
	width: 30%;
	height: 350px;

	list-style: none;
	overflow: hidden;
	display: inline-block;
	margin-left:10%;
	
}

.clObliga{
	color: #f00;
}


#ulContRegist li{
	margin-top: 10px;
}

p{
	padding-left: 30px;
	font-size: 18px;
}
p span{
	color: #f00;
	font-weight: bolder;
}


h2{
	color: #f00;
	padding-left: 20px;
}

#ulContRegist label{
	display: inline-block;
	width: 40%;
	line-height: 30px;
	text-align: right;
	padding-right: 10px;
}
#ulContRegist input{
	display: inline-block;
	width: 40%;
	height: 25px;
}
#ulContRegist select{
	display: inline-block;
	width: 42%;
	height: 25px;

}

#ulContRegist1{
	width: 40%;
	height: 350px;
	overflow: hidden;
	list-style: none;
	display: inline-block;
	
}

#ulContRegist1 li{
	margin-top: 10px;
}


#ulContRegist1 label{
	display: inline-block;
	width: 30%;
	line-height: 30px;
	text-align: left;
	padding-right: 10px;
}
#ulContRegist1 input{
	display: inline-block;
	width: 30%;
	height: 25px;
}
#ulContRegist1 select{
	display: inline-block;
	width: 30%;
	height: 25px;

}

.g-recaptcha{
	margin: 0 auto;
	overflow: hidden;
	vertical-align: top;
	width: 20%;
	height: auto;

}


#e64REusu{
	width: 60%;
	height: 80px;
	font-size: 50px;
	font-weight: bolder;
	padding-top: 20px;
	text-align: center;
	border:groove 1px #f00;
	margin: 0 auto;
	margin-top: 20px;
}

#textUsu{
	margin-left: 30px;
}
#textUsu li{
	font-size: 20px;
}

#enviarR{
	width: 35%;
	height: 60px;
	font-size: 30px;
	border:groove 1px;
	padding-top: 20px;
	border-radius: 5px;
	cursor: pointer;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	background: #ccc;
	margin-top:100px;
	margin-bottom: 50px;

}
#enviarR:hover{
	background: #f00;
}
